<footer class="footer" id="footer">

        <div class="footer__logo">
        <img class="footer__logo__img" src="./assets/images/logo.png" alt="image of papacho logo">
        </div>

      <hr class="footer__hr" class="hidden">

    <nav class="footer__nav">
        <ul class="footer__nav__pages">
            <a title="redirect to Home" href="#header">
                <li>Inicio</li>
            </a>
            <a title="redirect to Home" href="#about">
                <li>Quines Somos</li>
            </a>
            <a title="redirect to Home" href="#menu">
                <li>Las Hamburguesas</li>
            </a>
            <a title="redirect to Home" href="#footer">
                <li>Contacto</li>
            </a>
        </ul>

        <hr class="footer__hr" class="hidden">

        <ul class="footer__nav__social">

            <a title="redirect to Twitter" href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a title="redirect to Instagram" href="">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a title="redirect to Facebook" href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a title="redirect to Facebook" href="">
                 <i class="fa-brands fa-pinterest"></i>
            </a>
        </ul>
  
        <div class="footer__copyright"> © 2023 PAPACHOS S.L. - Todos los derechos reservados
        </div>

    </nav>
</footer>

