<footer class="footer">
    <nav class="footer__flex">
        <ul class="footer__flex__pages">
            <a title="redirect to Home" href="">
                <li>Inicio</li>
            </a>
            <a title="redirect to Home" href="">
                <li>Las Hamburguesas</li>
            </a>
            <a title="redirect to Home" href="">
                <li>Contacto</li>
            </a>
        </ul>
        <hr class="footer__hr">
        <ul class="footer__flex__social">

            <a title="redirect to Twitter" href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a title="redirect to Instagram" href="">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a title="redirect to Facebook" href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a title="redirect to Facebook" href="">
                 <i class="fa-brands fa-pinterest"></i>
            </a>
        
        </ul>
          <hr class="footer__hr">
        <div class="footer__flex__logo">
            <img src="./assets/images/logo.png" alt="image of papacho logo">
        </div>
        <div class="footer__copyright"> © 2023 PAPACHOS S.L. - Todos los derechos reservados</div>
    </nav>
</footer>

