<header class="header" id="header">
    <div class="header__menu">

        <img class="header__menu__icon js-icon" src="./assets/images/menu.png" alt="menu icon" title="Menu Icon"></img>

        <img class="header__menu__logo" src="./assets/images/logo.png" alt="logo" title="Logo Papachos">

        <nav class="header__menu__nav js-nav">

            <ul class="header__menu__nav__ul">
                <li class="header__menu__nav__ul__li"> <a href="#header">Inicio </a></li>
                <li class="header__menu__nav__ul__li"> <a href="#about">Quienes Somos </a></li>
                <li class="header__menu__nav__ul__li"> <a href="#menu">Las Hamburguesas</a></li>
                <li class="header__menu__nav__ul__li"> <a href="#footer">Contáctanos</a></li>
                <li class="header__menu__nav__ul__li__close">X</li>
            </ul>

        </nav>
    </div>
    <div>
        <h1 class="header__title"> LAS MEJORES HAMBURGUESAS DE VALENCIA</h1>
    </div>
</header>