
<section class="section1" id="about">
    
    <h1 class="section1__title">NUESTRA HISTORIA</h1>
    <p class="section1__text">Papachos es mucho más que un restaurante de hamburguesas; es el resultado de una pasión desbordante por la comida sabrosa y reconfortante. Nuestra historia se teje con dedicación y amor, desde nuestros humildes comienzos como un modesto puesto de hamburguesas en un mercado local, hasta convertirnos en un destino imperdible en la ciudad. Con una misión clara en mente, nos esforzamos por ofrecer a nuestros clientes las mejores hamburguesas, cuidadosamente elaboradas con ingredientes frescos y de la más alta calidad. </p>
    <img class="section1__img" src="./assets/images/slider1.png">
</section>