<section class="section2" id="menu">
   <h1 class="section2__title">menu</h1>
    <main class="section2__menu">
        <div class="section2__menu__item">
            <div class="section2__menu__item__div">
                <h3 class="section2__menu__item__div__title">BLACK PEPPER </h3>
                <p class="section2__menu__item__div__description">Burger de carne de vaca, queso Scarmoza
                    ahumado derretido, salsa de pimienta
                    negra casera, cebolla roja a la parrilla, pepinillos y rúcula</p>
                <p class="section2__menu__item__div__price">10.99</p>
            </div>
            <img src="./assets/images/hamburger5.png" alt="Hamburguesa Black Pepper Burguer"
                class="section2__menu__item__image">
        </div>

        <div class="section2__menu__item">
            <div class="section2__menu__item__div">
                <h3 class="section2__menu__item__div__title">QUEENS</h3>
                <p class="section2__menu__item__div__description">Nuestra hamburguesa americana clásica de carne de vaca
                    a la parrilla. Lleva queso cheddar fundido, bacon crujiente,
                    lechuga, tomate, cebolla roja y pepinillos.</p>
                <p class="section2__menu__item__div__price">11.99</p>
            </div>
            <img src="./assets/images/hamburger5.png" alt="Hamburguesa Queens" class="section2__menu__item__image">
        </div>

        <div class="section2__menu__item">
            <div class="section2__menu__item__div">
                <h3 class="section2__menu__item__div__title">CHELSEA TRUFFLE</h3>
                <p class="section2__menu__item__div__description">Para los amantes de la trufa. Carne a la brasa con
                    queso cheddar
                    perfectamente derretido, huevo frito, bacon ahumado y mayonesa
                    de trufa NYB casera.</p>
                <p class="section2__menu__item__div__price">13.99</p>
            </div>
            <img src="./assets/images/hamburger5.png" alt="Hamburguesa Chelse Truffle"
                class="section2__menu__item__image">
        </div>

        <div class="section2__menu__item">
            <div class="section2__menu__item__div">
                <h3 class="section2__menu__item__div__title">SMOKED BEEF</h3>
                <p class="section2__menu__item__div__description">Jugosa carne a la brasa, con queso Havarti derretido,
                    coronada con nuestra carne ahumada desmenuzada,
                    mezclada con sus propios jugos, cebolla
                    caramelizada y pepinillos caseros.</p>
                <p class="section2__menu__item__div__price">14.99</p>
            </div>
            <img src="./assets/images/hamburger5.png" alt="Hamburguesa Smoked Beef" class="section2__menu__item__image">
        </div>

        <div class="section2__menu__item">
            <div class="section2__menu__item__div">
                <h3 class="section2__menu__item__div__title">HIGH LINE</h3>
                <p class="section2__menu__item__div__description">Carne de ternera, rúcula y parmesano con la
                    espectacular salsa Café de París, base de mantequilla
                    y especias y terminada en mesa, por lo que el resultado
                    de la salsa es una locura.</p>
                <p class="section2__menu__item__div__price">10.99</p>
            </div>
            <img src="./assets/images/hamburger5.png" alt="Hamburguesa High Line" class="section2__menu__item__image">
        </div>

        <div class="section2__menu__item">
            <div class="section2__menu__item__div">
                <h3 class="section2__menu__item__div__title">SOHO</h3>
                <p class="section2__menu__item__div__description">Una de las más populares. Carne preparada a la
                    parrilla
                    con queso cheddar, bacon crujiente, aros de cebolla y salsa
                    barbacoa-bourbon NYB.</p>
                <p class="section2__menu__item__div__price">11.99</p>
            </div>
            <img src="./assets/images/hamburger5.png" alt="Hamburguesa Soho" class="section2__menu__item__image">
        </div>

    </main>
</section>