<section class="section2" id="section__two">
    <main class="section2__menu">

        <div class="section2__menu__item">
            <div><h3 class="section2__menu__item__title">Hamburguesa 1</h3>
            <p class="section2__menu__item__description">Descripción de la hamburguesa 1</p>
            <p class="section2__menu__item__price">$10.99</p>
            </div>
            <img src="./assets/images/hamburger1.jpg" alt="Hamburguesa 1" class="section2__menu__item__image">
        </div>
            <div class="section2__menu__item">
            <div><h3 class="section2__menu__item__title">Hamburguesa 2</h3>
            <p class="section2__menu__item__description">Descripción de la hamburguesa 1</p>
            <p class="section2__menu__item__price">$10.99</p>
            </div>
            <img src="./assets/images/hamburger1.jpg" alt="Hamburguesa 1" class="section2__menu__item__image">
        </div>
            <div class="section2__menu__item">
            <div><h3 class="section2__menu__item__title">Hamburguesa 1</h3>
            <p class="section2__menu__item__description">Descripción de la hamburguesa 1</p>
            <p class="section2__menu__item__price">$10.99</p>
            </div>
            <img src="./assets/images/hamburger1.jpg" alt="Hamburguesa 1" class="section2__menu__item__image">
        </div>
            <div class="section2__menu__item">
            <div><h3 class="section2__menu__item__title">Hamburguesa 1</h3>
            <p class="section2__menu__item__description">Descripción de la hamburguesa 1</p>
            <p class="section2__menu__item__price">$10.99</p>
            </div>
            <img src="./assets/images/hamburger1.jpg" alt="Hamburguesa 1" class="section2__menu__item__image">
        </div>
            <div class="section2__menu__item">
            <div><h3 class="section2__menu__item__title">Hamburguesa 1</h3>
            <p class="section2__menu__item__description">Descripción de la hamburguesa 1</p>
            <p class="section2__menu__item__price">$10.99</p>
            </div>
            <img src="./assets/images/hamburger1.jpg" alt="Hamburguesa 1" class="section2__menu__item__image">
            </div>
      <div class="section2__menu__item">
            <div><h3 class="section2__menu__item__title">Hamburguesa 1</h3>
            <p class="section2__menu__item__description">Descripción de la hamburguesa 1</p>
            <p class="section2__menu__item__price">$10.99</p>
            </div>
            <img src="./assets/images/hamburger1.jpg" alt="Hamburguesa 1" class="section2__menu__item__image">
        </div>

    </main>
</section>