// fonts
$font-main-title: 'Roboto Slab', serif;
$font-general: 'Roboto', sans-serif;

// colors
$color-white: #ffff;
$color-black: #000000;

// breakpoints
$breakpoint-tablet: 768px;
$breKpoint-desktop: 1000px;