.footer {
    background-color: black;
    min-width: 320px;
    padding-top: 50px;
    text-align: center;
    @include hideHrOnTablet;
    
        @include tablet {
            padding-top: 80px;
        }
    
        @include desktop {
            padding-top: 50px;
        }

    & a {
        text-decoration: none;
        color: white;

        &:hover {
            color: white;
        }

        &:active {
            color: black;
        }
    }

    &__hr {
        width: 20px;
        margin: 15px auto;
        border: 1px solid rgb(245, 241, 241);
    }

     &__nav {
        color: $color-white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-general;
        font-size: 1rem;
        line-height: 1.9;
        padding: 20px 0px;
        @include hideHrOnTablet;

        @include tablet {
            flex-direction: row;
            justify-content: center;
            flex-flow: row-reverse;
            gap: 100px;
            text-align: left;
            padding: 30px 20px;
        }

        &__social i {
            padding: 0 7px;
        }
    }


    &__copyright {
        font-size: 0.5rem;
    }
}

.footer__logo__img {
    width: 150px;
    height: 100px;
}