.header {
    height: 100vh;
    min-width: 320px;
    background-image: url('../images/hola.jpg');
    background-size: cover;
    background-position: 28% center;

    &__logotypes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        background-color: rgba(255, 255, 255, 1);
            position: fixed;
            width: 100%;
        @include desktop {
                height: 164px;
            }
        &__icon {
            width: 25px;
            height: 30px;
            @include desktop {
                width: 45px;
                    height: 50px;
                }
        }

        &__logo {
            width: 150px;
            height: 100px;
            @include desktop {
                    width: 170px;
                    height: 120px;
                }
        }
                                }

                                &__title {
        position: relative;
            top: 80%;
            margin: 0 auto;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            padding-left: 10px;
@include tablet {
        width: 70%;
        margin: 0;
        font-size: 2.5rem;
        letter-spacing: 2px;
        top: 80%;

    }

    @include desktop {
        font-size: 3.3rem;
            top: 80%;
    }
    }

    &__menu {
        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: red;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.9s ease, transform 0.9s ease;
            z-index: 9999;

            &__ul {
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
                padding: 50% 0;
                
                    @include desktop {
                        padding: 10% 0;
                    }

                &__li a {
                    text-decoration: none;
                    list-style: none;
                    color: white;
                    font-weight: bold;
                    font-size: 1.8rem;
                    
                        @include tablet {
                            font-size: 3rem;
                        }
                }

                &__li__close {
                    padding-top: 10px;
                    font-weight: bold;
                    font-size: 2rem;
                    
                        @include tablet {
                            font-size: 3rem;
                        }
                }
            }
        }
    }
}

.show {
    opacity: 1;
    transform: translateX(0);
}