.header {
    height: 100vh;
    min-width: 320px;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: 20%;
    position: relative;
    font-family: $font-general;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        background-color: rgba(255, 255, 255, 1);
        position: fixed;
        width: 100%;
        z-index: 999;

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: baseline;
        }

        &__icon {
            width: 35px;
            height: 40px;
            cursor: pointer;

            @include desktop {
                display: none;
            }
        }

        &__logo {
            width: 150px;
            height: 100px;

            @include desktop {
                width: 170px;
                height: 120px;
            }
        }

        &__nav {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: black;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.9s ease, transform 0.9s ease;
            z-index: 9999;
            height: 100vh;

            @include desktop {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                opacity: 1;
                transform: none;
                height: auto;
                background-color: rgba(255, 0, 0, 0.5);
            }

            &__ul {
                display: flex;
                flex-direction: column;
                gap: 50px;
                align-items: center;
                padding: 20% 0;

                @include desktop {
                    height: 3.5rem;
                    display: flex;
                    flex-direction: row;
                    gap: 50px;
                    list-style: none;
                    color: black;
                    padding: 0;
                }

                &__li {

                    font-weight: bold;
                    font-size: 1.8rem;

                    @include tablet {
                        font-size: 3rem;
                    }

                    @include desktop {
                        font-size: 1.5rem;
                    }

                    & a {
                        color: white;
                        text-decoration: none;
                        list-style: none;
                    }


                    &:hover {
                        box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
                    }

                    &__close {
                        padding-top: 10px;
                        font-weight: bold;
                        font-size: 2rem;
                        color: white;

                        @include tablet {
                            font-size: 3rem;
                        }

                        @include desktop {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__title {
        position: absolute;
        bottom: 20%;
        margin: 0 auto;
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 10px;
        max-width: 1400px;


        @include tablet {
            font-size: 2.5rem;
            bottom: 18%;
        }

        @include desktop {
            bottom: 18%;
            font-size: 3.5rem;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 4s steps(40) infinite;
            animation-delay: 30s;

        }
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}