.section1 {
    background-image: url('../images/background-slider.png');
    background-color: white;
    text-align: center;
    min-width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 150px 0;

    &__title {
        font-size: 1.8rem;
        color: black;
        padding-top: 30px;
        font-weight: bold;
    }

    &__text {
        font-size: 1rem;
        color: black;
        align-items: center;
        width: 70%;
    }

    &__container {

        &__slider {
            border: 5px solid black;
            border-radius: 10px;

            &__img {
                display: none;
                max-width: 500px;
                width: 250px;

                @include tablet {
                    width: 500px;
                }
            }
        }
    }


}