.section1 {
    background-image: url('../images/background-slider.png');
    background-color: white;
    text-align: center;
    min-width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 150px 0;

    &__title{
        font-size: 1.8rem;
        color: black;
        padding-top: 50px;
    }

    &__text{
        font-size: 1rem;
        color: black;
        align-items: center;
        width: 70%;
    }

    &__img {
      max-width: 100%;
  height: auto;
       
    }


}