.section1 {
    background-image: url('../images/background-section1.png');
    background-size: cover;
    background-color: white;
    text-align: center;
    min-width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 150px 0;
    font-family: $font-general;


    &__title {
        font-size: 1.7rem;
        color: black;
        padding-top: 30px;
        font-weight: bolder;

        @include tablet {
            font-size: 2.5rem;
        }
    }

    &__text {
        font-size: 1rem;
        color: black;
        align-items: center;
        width: 70%;
        font-weight: 400;
        padding-top: 50px;
        max-width: 700px;
    }

    &__container {
        border: 5px solid black;
        border-radius: 10px;
        margin: 50px auto;
        margin-bottom: 130px;

        &__img {
            max-width: 500px;
            width: 250px;


            @include tablet {
                width: 500px;
            }
        }
    }


}